.light{
    height: 400px;
    width: 200px;
    background-color: #333;
    border: 2px solid green;
    align-items: center;
    padding: 10px 0;
    display: flex;
  flex-direction: column;
  justify-content: center;
    
}
.red{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    

}
.yellow{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;

}
.green{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;

}