

div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}
#div1{
    position: static;
    top: 50px ;
}
#div2{
    position: relative;
    top: 10px;
    left: 10px;
}
#div3{
    position: sticky;
    top: 00px;
}
#div4{
    position: fixed;
    top: 0px;
}
